:root{
    font-family: 'Roboto','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*  font-size: 28px; */
}

body{
    background-color: rgb(81, 53, 110);
    color: khaki;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

button:hover {
    cursor: pointer;
}

form {
    display: inline;
}

.input-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
}

.input-button:hover {
    cursor: pointer;
}

form .input-button {
    display: inline;
}

#input-button-create-room {
    font-size: 14px;
    padding: 0.7em 1.4em 0.7em 1.1em;
}

#input-button-edit-topic {
    font-size: 12px;
}

#input-button-delete-topic {
    font-size: 12px;
}

#input-image-ban-user {
    width: 32px;
    height: auto;
    margin-top: 5px;
    vertical-align: middle;
}

button > a:link{
    color: black;
}

button > a:visited{
    color: black;
}


ul li {
    display: inline-block;
}

h3{
    color: lightcyan;
}

#topnav ul{
    list-style-type: none;
    margin: 0;
    margin-left: auto;
    background-color: rgba(6, 3, 21, 0.297);
    padding: 1%;
    display:inline-block;
    width: 100%;
}

#logo{
    width: 255px;
    height: auto;
}

#searchbar{
    width: 600px;
    height: 30px;
    position: absolute;
    top: 35px;
    left: 350px;
}

a{
    text-decoration: none;
}

a:link{
    color: powderblue;
}

a:visited{
    color: lightskyblue;
}

a:active{
    color: rgb(239, 243, 176);
}

a:hover{
    color: rgb(207, 247, 232);
}

