:root{
    font-family: 'Roboto','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*  font-size: 28px; */
}

body{
    background-color: rgb(81, 53, 110);
    color: khaki;
    margin: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

button:hover {
    cursor: pointer;
}

form {
    display: inline;
}

/* ===================================================================================================================== */
/* BUTTONS */
/* ===================================================================================================================== */


.input-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-size: 12px;
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

.input-button:hover {
    cursor: pointer;
    background-color: darkgoldenrod;
    transition: all 0.15s ease;
}

form .input-button {
    display: inline;
}

#input-button-create-room {
    font-size: 14px;
    padding: 5px 5px 5px 5px;
}


#input-button-edit-topic {
    font-size: 12px;
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

#input-button-edit-topic:hover{
    background-color: darkgoldenrod;
    transition: all 0.15s ease;
}

#input-button-delete-topic {
    font-size: 12px;
}

#input-image-ban-user {
    width: 32px;
    height: auto;
    margin-top: 5px;
    vertical-align: middle;
}

#input-image-user-profile {
    width: 75px;
    height: auto;
    margin-top: 5px;
    vertical-align: middle;
    float: inline-end;
}

#image-admin-icon {
    width: 65px;
    height: auto;
    vertical-align: middle;
}

button > a:link{
    color: black;
}

button > a:visited{
    color: black;
}


ul li {
    display: inline-block;
}

h3{
    color: lightcyan;
}

#topnav ul{
    list-style-type: none;
    margin: 0;
    margin-left: auto;
    background-color: rgba(6, 3, 21, 0.297);
    padding: 1%;
    display:inline-block;
    width: 100%;
}

#logo{
    width: 255px;
    height: auto;
}

#searchbar{
    width: 600px;
    height: 30px;
    position: absolute;
    top: 35px;
    left: 350px;
}

a{
    text-decoration: none;
}

a:link{
    color: powderblue;
}

a:visited{
    color: lightskyblue;
}

a:active{
    color: rgb(239, 243, 176);
}

a:hover{
    color: rgb(207, 247, 232);
}

/* ===================================================================================================================== */
/* LOGIN PAGE */
/* ===================================================================================================================== */


#login-form-wrap {
    background-color: lightgoldenrodyellow;
    width: 35%;
    height: 45%;
    margin: 30px auto;
    text-align: center;
    padding: 20px 0 0 0;
    border-radius: 4px;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}
  
#login-form {
    padding: 0 60px;
}

input.input-login {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
}

input[name="username"],
input[name="password"] {
    width: 90%;
    padding: 0 0 0 10px;
    margin: 0;
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    position: relative;
    display: inline-block;
    background: none;
}

input[name="username"]:focus,
input[name="password"]:focus {
  border-color: #3ca9e2;
}
input[name="username"]:focus:invalid,
input[name="password"]:focus:invalid {
  color: #cc1e2b;
  border-color: #cc1e2b;
}

input[id="login"] {
    border: none;
    border-radius: 7px;
    display: block;
    background-color: darkgoldenrod;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
  }

input[id="login"]:hover {
    background-color: darkorange;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#create-account-wrap {
    background-color: #eeedf1;
    font-weight: bold;
    color: #8a8b8e;
    font-size: 14px;
    width: 100%;
    padding: 10px 0;
    border-radius: 0 0 4px 4px;
}

/* ===================================================================================================================== */
/* REGISTRATION FORM */
/* ===================================================================================================================== */
#register-form-wrap {
    background-color: lightgoldenrodyellow;
    width: 35%;
    height: 75%;
    margin: 30px auto;
    text-align: center;
    padding: 20px 0 0 0;
    border-radius: 4px;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

#register-form-wrap form {
    padding: 0 60px;
}

form ul li{
    color: darkslategray;
}

span.helptext {
    display: none;
}

p label {
    display: none;
}

input[id="id_username"],
input[id="id_password1"],
input[id="id_password2"] {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
}

input[id="id_username"],
input[id="id_password1"],
input[id="id_password2"] {
    width: 90%;
    padding: 0 0 0 10px;
    margin: 0;
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    position: relative;
    display: inline-block;
    background: none;
}

input[id="id_username"]:focus,
input[id="id_password1"]:focus,
input[id="id_password2"]:focus {
    border-color: #3ca9e2;
}

input[id="id_username"]:focus:invalid,
input[id="id_password1"]:focus:invalid,
input[id="id_password2"]:focus:invalid {
    color: #cc1e2b;
    border-color: #cc1e2b;
}

input[id="register"] {
    border: none;
    border-radius: 7px;
    display: block;
    background-color: darkgoldenrod;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-left: 12%;
}

input[id="register"]:hover {
    background-color: darkorange;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#sign-in-wrap {
    background-color: #eeedf1;
    font-weight: bold;
    color: #8a8b8e;
    font-size: 14px;
    width: 100%;
    padding: 10px 0;
    margin-top: 15px;
    border-radius: 0 0 4px 4px;
}