{% load static %}
<nav>
    <div class="container-fluid">
        <div class="row" id="topnav">
            <ul>
                <li>
                    <a href="/"><img id="logo" src="{% static 'images\logo-no-background.png' %}" alt=""></a>
                </li>

                <li>
                    <form method="GET" action="{% url 'home' %}">
                        <input id="searchbar" type="text" name="q" placeholder="Search Rooms..." />
                    </form>
                </li>

                {% if request.user.is_authenticated %}
                <li style="float: right;">
                    Hi, {{ request.user.username }}!
                    <a  style="position: relative; top: 40px; right: 58px;" href="{% url 'logout' %}" style="float: right; padding-right: 20px;" >Logout</a>
                </li>
                <li style="float: right;">
                    <form action="{% url 'user-profile' user.id %}">
                        <input type="image" class="input-button" id="input-image-user-profile" src="{% static 'images\user-profile.png' %}">
                    </form>
                </li>
                {% else %}
                <li style="float: right;">
                    You are not logged in!
                    <a style="position: relative; top: 35px; right: 156px;" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
                <hr>
            </ul>
        </div>
    </div>
</nav>