<div>
            
    {% for room in rooms %}
        <div class="feed-container">
            <h5>
                <div>
                    {{room.id}} - <a style="font-size: 16px;" href="{% url 'room' room.id %}">{{room.name}}</a>
                    <span>
                        <small>Created by</small> <i><a href="{% url 'user-profile' room.host.id %}">{{room.host.username}}</a></i>
                        {% if request.user == room.host or request.user.is_superuser %}
                            <form class="button-update-room" action="{% url 'update-room' room.id %}">
                                <input type="submit" value="Edit" class="input-button" id="input-button-edit-room">
                            </form>
                            <form class="button-delete-room" action="{% url 'delete-room' room.id %}">
                                <input type="submit" value="Delete" class="input-button" id="input-button-delete-room">
                            </form>
                        {% endif %}
                    </span>
                </div>
            </h5>
            <small><b>{{room.topic.name}}</b></small>
        </div>
    {% endfor %}
</div>