{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 2fr 1.75fr 1fr;
    }
</style>

<div class="home-container">

    <div>
        {% include 'base/topics_component.html' %}
    </div>

    <div>
        {% if room_count == 0 %}
            <h3>No rooms available</h3>
        {% elif room_count == 1 %}
            <h3>{{room_count}} room available</h3>
        {% else %}
            <h3>{{room_count}} rooms available</h3>
        {% endif %}
        <hr>
        <form action="{% url 'create-room' %}">
            <input type="submit" value="Create Room" class="input-button" id="input-button-create-room">
        </form>
        {% include 'base/feed_component.html' %}

    </div>

    <div>
        {% include 'base/users_component.html' %}

    </div>

    <div>
        {% include 'base/activity_component.html' %}
    </div>

</div>

{% endblock content %}