{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div id="login-form-wrap">
    <h2 style="color: darkgoldenrod;">Login</h2>
    <form id="login-form" method="POST" action="">
        {% csrf_token %}
        <p>
            <input class="input-login" id="username" name="username" type="text" value="" placeholder="Enter Username" required>
        </p>

        <p>
            <input class="input-login" id="password" name="password" type="password" value="" placeholder="Enter Password">
        </p>

        <p>
            <input type="submit" id="login" value="Login">
        </p>
    </form>

    <div id="create-account-wrap">
        <p>Don't have an account? <a href="{% url 'register' %}">Sign up!</a></p>
    </div>
</div>
    
{% else %}

<div id="register-form-wrap">
    <h2 style="color: darkgoldenrod;">Register</h2>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}

        <script>
            document.getElementById("id_username").setAttribute("placeholder", "Enter Username");
            document.getElementById("id_password1").setAttribute("placeholder", "Enter Password");
            document.getElementById("id_password2").setAttribute("placeholder", "Confirm Password");


        </script>

        <input id="register" type="submit" value="Register" >
    </form>
    <div id="sign-in-wrap">
        {% csrf_token %}
        <p>Already have an account? <a href="{% url 'login' %}">Login!</a></p>
    </div>
</div>
{% endif %}

{% endblock content %}