{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div id="login-form-wrap">
    <h2 style="color: darkgoldenrod;">Login</h2>
    <form id="login-form" method="POST" action="">
        {% csrf_token %}
        <p>
            <input class="input-login" id="username" name="username" type="text" value="" placeholder="Enter Username" required><i class="validation"><span></span><span></span></i>
        </p>

        <p>
            <input class="input-login" id="password" name="password" type="password" value="" placeholder="Enter Password"><i class="validation"><span></span><span></span></i>
        </p>

        <p>
            <input type="submit" id="login" value="Login">
        </p>
            
            <!-- <label>Username:</label>
            <input name="username" type="text" value="" placeholder="Enter Username">
            <br><br>
            <label>Password:</label>
            <input name="password" type="password" value="" placeholder="Enter Password">
            <br><br>
            <input type="submit" value="Login" > -->
    </form>

    <div id="create-account-wrap">
        <p>Don't have an account? <a href="{% url 'register' %}">Sign up!</a></p>
    </div>
</div>
    
{% else %}

<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register" >
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login!</a></p>
</div>

{% endif %}

{% endblock content %}