{% extends 'main.html' %}

{% block content %}

<h1>
    {{user.username}}
    {% if request.user.is_superuser %}
        {% if user.is_active %}
        <button class="button-ban">
            <a href="{% url 'ban-user' user.id %}">Ban User {{user.id}}</a>
        </button>
        {% else %}
        <button class="button-ban">
            <a href="{% url 'ban-user' user.id %}">Unban User</a>
        </button>
        {% endif %}
    {% endif %}
</h1>

<style>
    .profile-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<div class="profile-container">
    <div>
        {% include 'base/topics_component.html' %}
    </div>

    <div>
        {% include 'base/feed_component.html' %}

    </div>

    <div>
        {% include 'base/activity_component.html' %}
    </div>
</div>

{% endblock content %}