<h3>Browse Topics</h3>
        <hr>

        <div>
            <a href="{% url 'home' %}">All</a>
        </div>

        {% for topic in topics %}
            <div>
                <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
                {% if request.user.is_superuser %}
                    <form class="form-topics" action="{% url 'update-topic' topic.id %}">
                        <input type="submit" value="Edit Topic" class="input-button" id="input-button-edit-topic">
                    </form>
                    <form class="form-topics" action="{% url 'delete-topic' topic.id %}">
                        <input type="submit" value="Delete Topic" class="input-button" id="input-button-delete-topic">
                    </form>
                {% endif %}
            </div>
        {% endfor %}
        <br>
        {% if request.user.is_superuser %}
            <form class="form-topics" action="{% url 'create-topic' %}">
                <input type="submit" value="Create Topic" class="input-button" id="input-button-create-topic">
            </form>
        {% endif %}